*{
    margin: 0;
    box-sizing: border-box;
}
.App .cards-content {
    width: 95%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    text-align: center;
    margin: auto;
}

@media (max-width : 921px) {
    .App .cards-content {
        width: 95%;
        grid-gap: 3px;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(4 , 1fr);
        text-align: center;
    }
}
@media (max-width : 468px) {
    .App .cards-content {
        width: 70%;
        display: grid;
        margin-left: 15px;
        grid-template-columns: repeat(1 , 1fr);
        text-align: center;
    }
}